
@{
    Layout = null;
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="c:\users\pc\source\repos\edukator.presentationlayer\edukator.presentationlayer\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br/>
    <br />
    <h3>Sweet Alert Sayfayı</h3>
</div>