@model Edukator.EntityLayer.Concrete.AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Role Güncelleme Sayfası</h1>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Role  Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <button class="btn btnbtn-outline-success">Rolü Güncelle</button>





</form>
