@model List<Edukator.EntityLayer.Concrete.Map>

@foreach (var x in Model)
{
    <div class="contacts-sub-5">

        <iframe src="@x.Name"
                style="border:0" allowfullscreen></iframe>
    
    </div>
    
    
}